<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @participant.id %>
</p>

<p>
  <b>Passcode:</b>
  <%= @participant.passcode %>
</p>

<p>
  <b>Sign in count:</b>
  <%= @participant.sign_in_count %>
</p>

<p>
  <b>Current sign in at:</b>
  <%= @participant.current_sign_in_at %>
</p>

<p>
  <b>Last sign in at:</b>
  <%= @participant.last_sign_in_at %>
</p>

<p>
  <b>Current sign in ip:</b>
  <%= @participant.current_sign_in_ip %>
</p>

<p>
  <b>Last sign in ip:</b>
  <%= @participant.last_sign_in_ip %>
</p>

<p>
  <b>Created at:</b>
  <%= @participant.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @participant.updated_at %>
</p>

<p>
  <b>Illustration:</b>
  <%= @participant.illustration %>
</p>

<p>
  <b>Table number:</b>
  <%= @participant.table_number %>
</p>

<p>
  <b>Session:</b>
  <%= @participant.session_id %>
</p>

<p>
  <b>Score:</b>
  <%= @participant.score %>
</p>

<p>
  <b>Signature:</b>
  <%= @participant.signature %>
</p>

<p>
  <b>Virtual table:</b>
  <%= @participant.virtual_table_id %>
</p>

<p>
  <b>Cs1:</b>
  <%= @participant.cs1 %>
</p>

<p>
  <b>Cs2:</b>
  <%= @participant.cs2 %>
</p>

<p>
  <b>Cs3:</b>
  <%= @participant.cs3 %>
</p>

<p>
  <b>Cs4:</b>
  <%= @participant.cs4 %>
</p>

<p>
  <b>Cs5:</b>
  <%= @participant.cs5 %>
</p>

<p>
  <b>Cs6:</b>
  <%= @participant.cs6 %>
</p>

<p>
  <b>Cs7:</b>
  <%= @participant.cs7 %>
</p>

<p>
  <b>Cs8:</b>
  <%= @participant.cs8 %>
</p>

<p>
  <b>Cs9:</b>
  <%= @participant.cs9 %>
</p>

<p>
  <b>Cs10:</b>
  <%= @participant.cs10 %>
</p>

<p>
  <b>Cs11:</b>
  <%= @participant.cs11 %>
</p>

<p>
  <b>Cs12:</b>
  <%= @participant.cs12 %>
</p>

<p>
  <b>Cs13:</b>
  <%= @participant.cs13 %>
</p>

<p>
  <b>Cs14:</b>
  <%= @participant.cs14 %>
</p>

<p>
  <b>Cs15:</b>
  <%= @participant.cs15 %>
</p>

<p>
  <b>First name:</b>
  <%= @participant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @participant.last_name %>
</p>

<p>
  <b>Name:</b>
  <%= @participant.name %>
</p>

<p>
  <b>Email:</b>
  <%= @participant.email %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
